version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: backend-service
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./models:/app/models
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
    container_name: frontend-service
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend